.modal {
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.4);
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   visibility: hidden;
   transition: all .5s ease;
   &._active {
      opacity: 1;
      visibility: visible;
   }
   .modal__close-btn {
      width: 30px;
      height: 30px;
      margin-left: auto;
      cursor: pointer;
   }
   .modal__body {
      max-width: 350px;
      width: 100%;
      padding: 25px;
      border-radius: 12px;
      background-color: #fff;
      .modal__close-btn {

      }
      .modal__content {

      }
   }
}